*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Helvetica,Arial,sans-serif;
}
body{
    background: #f0f2f5;
}
.container
{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
}
.left
{
    width: 50%;
    padding: 0px 0px 132px 130px;
}
.left img
{
    height: 106px;
}
.left p
{
    font-size: 28px;
    width: 500px;
    margin-left: 27px;
    position: relative;
    bottom: 12px;
}
.right
{
    padding: 45px 178px 83px 0px;
}
.box
{
    margin: 40px 0 0;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 28px;
    height: 350px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    width: 396px;
    background: white;
    border-radius: 8px;
    align-items: center;
}
.box input
{
    font-size: 17px;
    padding: 14px 16px;
    width: 365px;
    height: 52px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    margin:6px;
    border-radius: 6px;
    outline: none;
}
.box input::placeholder
{
    color: #9094a9;
}
input:focus{
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1877f2;
}
button
{
    border: none;
    border-radius: 6px;
    line-height: 48px;
    padding: 0 16px;
    cursor: pointer;
    white-space: nowrap;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}
.login
{
    background-color: #1877f2;
    width: 365px;
    font-size: 20px;
}
.login:hover
{
    background: #166fe5;
}
.box a
{
    cursor: pointer;
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    margin-top: 17px;
}
.box a:hover
{
    text-decoration: underline;
}
.border
{
    border-bottom: 1px solid #dadde1;
    height: 1px;
    width: 92%;
    margin-top: 22px;
}
.signup
{
    background-color: #42b72a;
    font-size: 17px;
    position: relative;
    top:16px
}
.endText
{
    border-top: none;
    color: #1c1e21;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
}
.endText span
{
    font-weight: bold;
    cursor: pointer;
}
.endText span:hover{
    text-decoration: underline;
}
@media(max-width:1200px)
{
    .container{
        flex-direction: column;
    }
    .left
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        padding-left: auto;
    }
    .left p
    {
        text-align: center;
    }
    .right
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        padding-left: auto;
    }
}